.page {
  .theme-default-content {
    dd {
      background-color: var(--c-text);

      &:hover {
        background-color: transparent;
      }
    }
    .code-group-item:not(:has(> .language-typescript)) {
      background: var(--code-bg-color);
      padding: 16px;
      border-radius: 6px;
      color: #adbac7;
    }
  }
}

// print styles
@media print {
  // hide navbar, sidebar, and page meta
  .navbar,
  .sidebar,
  .page-meta {
    display: none;
  }
  .page {
    padding-top: 0;
    padding-left: 0;
  }

  // set text alignment to justify
  .page {
    text-align: justify;
  }

  // let h2 - h6 break-before: page
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-before: page;
  }

  // remove h2 underlines
  h2 {
    border-bottom: none;
  }

  // remove footnote separator
  hr.footnotes-sep {
    display: none;
  }

  // prevent images and videos from breaking across pages
  // max height is page hight
  img,
  video {
    page-break-inside: avoid;
    max-height: 100vh;
  }

  // set print page size
  @page {
    size: 192mm 108mm;
  }
}
