.page {
    .theme-default-content {
        counter-reset: section;

        p {
            text-indent: 2em;
            text-align: justify;
            position: relative;
        }

        p::before {
            counter-increment: section;
            content: counter(section, decimal-leading-zero);
            text-indent: 0;
            position: absolute;
            left: 0;
            opacity: 48%;
            font-size: xx-small;
        }

        dd {
            background-color: var(--c-text);

            &:hover {
                background-color: transparent;
            }
        }
    }
}